body {
  margin: 0;
  overflow-x: hidden;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
  max-height: 60px;
  background: #0089da;
  border-bottom: 2px solid white;
  margin: 0;
  color: white;
}

#nav ul {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-evenly;
}

#nav li {
  padding: 1em;
}

* {
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
  list-style: none;
  animation: reveal;
}


.component-container {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  -webkit-animation: reveal 1s linear;
  animation: reveal 1s linear;
  background: rgb(0,153,243);
  background: linear-gradient(180deg, rgba(0,153,243,1) 0%, rgba(0,0,0,1) 44%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0099f3",endColorstr="#000000",GradientType=1);
}

.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 500px;
  margin: 1em auto;
  background: rgb(2,0,36);
  background: linear-gradient(190deg, rgba(2,0,36,1) 11%, rgba(9,9,121,1) 42%, rgba(85,6,149,1) 59%, rgba(3,142,170,1) 90%);  padding: 1%;
  overflow: overlay;
  background-attachment: fixed;
  border-radius: 10px;
  animation: reveal 1s linear;
}

/* ===========EFFECTS============== */
button:hover {
  background: #0099f3!important;
  color: white!important;
}

button:active {
  filter: grayscale(1);
}