@keyframes reveal {
  0%{
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes shakeImage {
  
  0% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px)
  }
  
}
