.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20% auto 5% auto;
  width: 45%;
  height: 20vh;
  text-align: center;
  padding: 0;
  border-radius: 10px;
  border: 2px solid;
}

.search-form label {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  color: white;
  background: black;
  padding: 1em 0;
}

.search-bar {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  
}

.search-bar input {
  border: none;
  width: 90%;
  padding: 2%;
  border-radius: 10px 0 0 10px;
  color: #0f4d66;
  font-weight: 600;
}

.search-bar button {
  width: 10%;
  color: #0089da;
  background: white;
  font-weight: bold;
  border: none;
  border-radius: 0 10px 10px 0;
}

.quarter-width {
  min-width: 25%;
  max-width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff96;
  padding: 1em;
  margin: 1em auto;
  border-bottom: 10px solid black ;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: shakeImage 1s linear infinite;
}

.single-result-image h1 {
  width: 100%;
  text-align: center;
  background: white;
  margin: 0;
  padding: 1%;
  overflow: overlay;
  max-height: 80px;
  min-height: 80px;
}

.artist-image {
  max-height: 190px;
  min-height: 190px;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.star-rating img{
  background: white;
  padding: 2%;
  width: auto;
  border-radius: 20px;
  margin: 0 1%;
}

/* ===========ERROR MESSAGE============== */

.error-popup {
  opacity: 0;
  background: red;
  color: white;
  position: absolute;
  top: 15%;
  right: 15%;
  border-radius: 5px;
  padding: 1em;
  font-weight: bold;
  animation: fillColor 4s ease-out;
  animation-play-state: paused;
}


/* ===========EFFECTS============== */
.search-bar input:hover, .search-bar input:active {
  background: #ccfffa;
}